**/.idea/*
**/.gradle/
**/build/
**/logs/
**/out/

*.iml
*.jar
*.zip
*_performance.txt
*.xls
*.xlsx
*.doc
*.docx

!gradle-wrapper.jar
!gradle-wrapper.cloud.jar
!gwo-agent*.jar
/.classpath
/.factorypath
/.project
/paso_client.log
**/gradle.properties

!paso-app/paso-client/webstarter/**/*
!paso-app/paso-client/fx/**/*
