<html>
<head>
  <link type="text/css" rel="stylesheet" href="css/privacypolicy.css">
</head>
<body>
<div class="user-content-block">
  <h2>Wir freuen uns, sie in PASO begr&uuml&szligen zu d&uumlrfen! </h2>
  <p>PASO ist die konzernweite IT-L&oumlsung f&uumlr das St&uumlcklistenbasierte Gewichtsmanagement. Auf Basis der
    St&uumlckliste aus
    TI-WH verfolgt PASO die Gewichte eines Einzelfahrzeugs w&aumlhrend der Entwicklung. PASO ist eine Eigenentwicklung
    der
    Volkswagen AG.</p>

  <h3>Ansprechpartner</h3>
  <p>Die folgenden Personen sind die prim&aumlren Ansprechpartner f&uumlr PASO:</p>
  <ul>
    <li>Fachliche Verantwortung: Joost Vink <span class="nobr">(<a href="mailto:joost.vink@volkswagen.de"
                                                                   class="external-link" target="_blank"
                                                                   rel="nofollow noopener"
                                                                   title="Follow link">joost.vink@volkswagen.de</a>)</span>
    </li>
    <li>
      System-Entwicklung: Simon Osterloh (<span class="nobr"><a href="mailto:simon.osterloh@volkswagen.de"
                                                                class="external-link" target="_blank"
                                                                rel="nofollow noopener"
                                                                title="Follow link">simon.osterloh@volkswagen.de</a></span>)
    </li>
  </ul>

  <h3>Datenschutzerkl&aumlrungen</h3>
  <p>
    Je nach Art des Besch&aumlftigungsverh&aumlltnisses der Anwender gibt es unterschiedliche
    Datenschutzerkl&aumlrungen. Diese sind
    speziell auf die jeweiligen Bed&uumlrfnisse und Anforderungen der verschiedenen Besch&aumlftigungsarten
    zugeschnitten, um
    den bestm&oumlglichen Schutz der pers&oumlnlichen Daten zu gew&aumlhrleisten.
  </p>

  <table>
    <tr>
      <td style="text-align: left;">
        <a href="privacypolicy/UniverselleBeschaftigtendatenschutzerklarung.pdf" target="_blank">Universelle
          Datenschutzerkl&aumlrung f&uumlr Besch&aumlftigte der Volkswagen AG</a>
      </td>
      <td>DE</td>
      <td>3.1</td>
      <td>19.09.2024</td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a href="privacypolicy/DatenschutzerklarungfurBeschaftigtedesVolkswagenKonzerns.pdf" target="_blank">Datenschutzerkl&aumlrung
          f&uumlr Besch&aumlftigte des Volkswagen Konzerns</a>
      </td>
      <td>DE</td>
      <td></td>
      <td>02.02.2021</td>
    </tr>
    <tr>
      <td style="text-align: left;"><a href="privacypolicy/PrivacyPolicyforemployeesofVolkswagenGroup.pdf"
                                       target="_blank">Privacy Policy for
        employees of Volkswagen Group</a>
      </td>
      <td>EN</td>
      <td></td>
      <td>02.02.2021</td>
    </tr>
    <tr>
      <td style="text-align: left;">
        <a href="privacypolicy/DatenschutzerklarungfurGeschaftspartner.pdf" target="_blank">Datenschutzerkl&aumlrung
          f&uumlr
          Gesch&aumlftspartner und
          Besch&aumlftigte von Gesch&aumlftspartnern der Volkswagen AG</a></td>
      <td>DE</td>
      <td>2.0</td>
      <td>28.10.2024</td>
    </tr>
  </table>
</div>
<footer>
  <p>Stand: Mai 2026</p>
</footer>
</body>

</html>
